/* font-family: 'IM Fell English', serif;
font-family: 'Spectral', serif;
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}
