/* font-family: 'IM Fell English', serif;
font-family: 'Spectral', serif;
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

@font-face {
	src: url(font/FeENsc2.ttf);
	font-family: 'imfellbold';
}


body {
	background-image: url("images/damask-background.jpg");
	background-attachment: fixed;
	background-size: cover;
}

.container {
	background-image: url("images/paper.jpg");
	background-attachment: fixed;
	background-size: cover;
	width: 90%;
	margin: auto;
	text-align: center;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'IM Fell English', serif;
}

p, a {
	font-family: 'Spectral', serif;
}

nav ul {
    display: flex;
    flex-flow: column wrap;
    list-style: none;
    padding: 10px 0;
		border-color: black;
    border-style: double;
    border-width: 4px 0;
    margin-top: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
		font-size: 1rem;
}

nav ul li:hover {
	background-color: #bd9bd4;
	transition: .5s;
}


nav ul li {
	padding: 10px;
	transition: .5s;
}

header, section {
    /* height: 615px; */
    padding: 10px 5%;
}

.ornament {
	width: 60%;
	max-width: 400px;
	margin-top: 30px;
}

.whistledown_logo {
	width: 100%;
	max-width: 600px;
}

h1 {
	font-size: 29px;
	padding: 5px;
}

/******* HOME PAGE IMAGE CONTAINER  ******/
#container {
	width: 85%;
	height: 100px;
	margin: auto;
	margin-top: 5px;
}

footer {
	background-color: rgba(189,155,212, 0.5);
}

.group_logo {
	width: 100%;
	max-width: 100px;
	padding: 20px;
	opacity: .8;
	margin: auto;
	text-align: center;
}

.group_logo p {
	width: 108px;
	margin: auto;
	text-align: center;
}


/*********** ANIMATIONS ****************/
.typewriter h2 {
	padding: 0;
	max-width: 300px;
	font-family: 'imfellbold';
	font-size: 1.3rem;
  overflow: hidden;
  border-right: .1111em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .112em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end;
		  animation-iteration-count: infinite;
}

main h2 {
	padding: 0;
	max-width: 300px;
  overflow: hidden;
  border-right: .1111em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .112em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
		  animation-iteration-count: infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

/*************** START MEDIA QUERIES  **************/
@media (min-width: 430px) {
	/******* HOME PAGE IMAGE CONTAINER  ******/
	#container {
		width: 85%;
		height: 200px;
		margin: auto;
		margin-top: 5px;
	}

}

@media (min-width: 600px) {
	.typewriter h2 {
		font-size: 2rem;
}
nav ul li a {
		font-size: 1.2rem;
	}
}

@media (min-width: 800px) {
	/******* HOME PAGE IMAGE CONTAINER  ******/
	#container {
		width: 85%;
		height: 400px;
		margin: auto;
		margin-top: 10px;
	}

}

@media (min-width: 1920px) {
	.typewriter h2 {
		max-width: 400px;
		font-size: 3rem;
}
}
